:root {
    max-width: 1800px;
    margin: auto auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    max-width: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
    color: white;
}

@media print {
    header {
        display: none !important;
    }

    .work h3 ,
    .education h3 {
        margin: 0;
        padding: 0;
    }

    .work-hr,
    .edu-hr,
    .name-hr {
        display: block !important;
        border: 1px solid black;
        background-color: black;
        color: black;
        height: 0.5px;
    }

    button {
        display: none !important;
    }

    footer {
        display: none !important;
    }
}