:root {
    max-width: 1800px;
    margin: auto auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    max-width: 50px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
    color: white;
}